body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
}

#app {
    width: 100%;
    min-height: 100vh;
    background: lightgray;
    position: relative;
}