body {
    background: black;
}

#projector {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.screen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    transition: opacity 2s ease-in-out;
    opacity: 0;
}

.screen__active {
    opacity: 1;
}

.screen__video {
    background: blue;
}

.screen__text {
    background: green;
}

.screen__image {
    background: red;
}

.screen__screensaver {
    background: yellow;
}